<div id='cssmenu'>
    <ul>
        <li>
            <a ui-sref="welcome.add">Add</a>
        </li>
        <li class='active'>
            <a ui-sref="welcome.edit">Edit</a>
        </li>
    </ul>
</div>

<!-- SEARCH  -->

<div class="container-fluid" style="margin-top: 10px; margin-bottom: 50px; margin-left: 15px">

    <div class="radio">
        <label>
            <input name="radio" ng-model="ctrl.radio" type="radio" value="client" style="margin-right: 5px; margin-left: 10px" />Client
        </label>

        <label>
            <input name="radio" ng-model="ctrl.radio" type="radio" value="booking" style="margin-right: 5px; margin-left: 25px" />Appointment
        </label>
    </div>

    <!-- SEARCH/EDIT/DELETE CLIENT -->
    <form name="searchClientsform" ng-submit="ctrl.searchClientName()" ng-show="ctrl.radio=='client'">
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <input name="search" class="form-control" ng-model="ctrl.term" type="text" placeholder="First name" style="margin-bottom: 20px">
            </div>
            <div class="col-md-1" style="margin-bottom:2px">
                <input class="btn btn-ghost" style="background-color: white; color:#e67e22" ng-click="ctrl.searchAllClients()" type="button"
                    value="All">
            </div>

            <div class="col-md-1" style="margin-bottom:2px">
                <input class="btn btn-ghost" style="background-color: white; color:#e67e22" ng-click="reloadRoute()" type="button" value="Clear">
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 col-md-offset-1" style="margin-bottom:2px">
                <input class="btn btn-ghost" name="submit" type="submit" value="Go">
            </div>
        </div>

        <div class="row">
                <div class="col-md-6 col-md-offset-1">
    
                    <div ng-if='ctrl.msg' class="alert alert-danger" role="alert" style="margin-top:10px">
                        <i class='fa fa-exclamation-triangle'></i> {{ctrl.msg}}</div>
                </div>
            </div>
    </form>

    <form name="updateClientForm" ng-repeat="(clientIndex, client) in ctrl.clients" novalidate ng-show="ctrl.radio=='client'">
        <div class="row" style="margin-top: 10px">

            <div class="col-md-3 col-md-offset-1">
                <div class="form-group">
                    <input name="firstname" class="form-control" type="text" ng-model="client.firstname" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input name="lastname" class="form-control" type="text" ng-model="client.lastname" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input name="mobile" class="form-control" minlength="8" maxlength="8" type="text" ng-model="client.mobile" required>
                </div>
            </div>

            <div class="col-md-3">
                <button name="button" ng-click="ctrl.saveClient(client)" class="btn-sm btn-success">
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                </button>
                <button type="button" ng-click="ctrl.deleteClient(client._id); ctrl.removeRow(clientIndex);" class="btn-sm btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>

        </div>
    </form>

    <!-- SEARCH/EDIT/DELETE BOOKINGS -->

    <form name="searchBookingsform" ng-submit="ctrl.searchBookingByName()" ng-show="ctrl.radio=='booking'">
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <input name="search" class="form-control" ng-model="ctrl.term" type="text" placeholder="First name" style="margin-bottom: 20px">
            </div>
            <div class="col-md-1" style="margin-bottom:2px">
                <input class="btn btn-ghost" style="background-color: white; color:#e67e22" ng-click="ctrl.searchAllBookings()" type="button"
                    value="All">
            </div>

            <div class="col-md-1" style="margin-bottom:2px">
                <input class="btn btn-ghost" style="background-color: white; color:#e67e22" ng-click="reloadRoute()" type="button" value="Clear">
            </div>

        </div>

        <div class="row">
            <div class="col-md-1 col-md-offset-1" style="margin-bottom:2px">
                <input class="btn btn-ghost" name="submit" type="submit" value="Go">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-1">

                <div ng-if='ctrl.msg' class="alert alert-danger" role="alert" style="margin-top:10px">
                    <i class='fa fa-exclamation-triangle'></i> {{ctrl.msg}}</div>
            </div>
        </div>

    </form>

    <form name="updateClientForm" ng-repeat="booking in ctrl.bookings" ng-show="ctrl.radio=='booking'" novalidate>

        <div class="row" style="margin-top: 10px">

            <div class="col-md-3 col-md-offset-1">
                <div class="form-group">
                    <input name="training" class="form-control" type="text" ng-model="booking.training" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input name="firsttname" class="form-control" type="text" ng-model="booking.firstname" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input name="lastname" class="form-control" type="text" ng-model="booking.lastname" required>
                </div>
            </div>

        </div>

        <div class="row" style="margin-top: 10px">

            <div class="col-md-6 col-md-offset-1">
                <div class="form-group">
                    <input name="datetime" class="form-control" type="text" ng-model="booking.datetime" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input name="notification" class="form-control" type="text" ng-model="booking.notification" required>
                </div>
            </div>

        </div>
    </form>



</div>